<!-- post-show -->

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <a href="{{post.url}}" class="lead">{{post.title}}</a>
    <p>Summary: {{post.summary}}</p>
    <p>Date: {{post.createdAt}}</p>
  </div>
</div>
