<!-- games-edit.handlebars -->

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <legend>Edit Game</legend>
    <p>
      <button type="submit" class="btn btn-default">Add to Favorite</button>
    </p>
    <form method="POST" action="/games/{{game._id}}?_method=PUT">
        {{> games-form }}
    </form>
  </div>
</div>
