<!-- games-new.handlebars -->


<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <legend>New Game</legend>
    <form method="POST" action="/games">
      {{> games-form }}
    </form>
  </div>
</div>
