<!-- reviews-new.handlebars -->

<legend>New Review</legend>
<form method="POST" action="/reviews">
  <!-- TITLE -->
  <p>
    <label for="title">Title</label><br>
    <input type="text" name="title" />
  </p>

  <!-- MOVIE TITLE -->
  <p>
    <label for="movieTitle">Movie Title</label><br>
    <input type="text" name="movieTitle" />
  </p>

  <!-- DESCRIPTION -->  
  <p>
    <label for="description">Description</label><br>
    <textarea name="description" rows="10" /></textarea>
  </p>
  <!-- BUTTON -->
  <p>
    <button type="submit">Save Review</button>
  </p>
</form>