<a href="/">Back to Home</a>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>Review Title: {{review.title}}</h1>
        <h3>Movie Title: {{review.movieTitle}}</h3>
        <p>{{review.description}}</p>
    </div>
</div>